language: go

go:
  - 1.11.x

branches:
  only:
    - master

cache:
  directories:
    - "./back"

matrix:
  include:
    - os: linux
      env:
        - NAME=linux

    - os: osx
      env:
        - NAME=osx

    - os: windows
      env:
        - NAME=win.exe
        - PKG_CONFIG_PATH=/usr/local/lib/pkgconfig
env:
  

addons:
  apt:
    packages:
      - imagemagick

  homebrew:
    packages:
     - imagemagick

before_install:
  - git tag -l "$VERSION" || git tag "$VERSION"

  - |
      if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then
        wget http://www.imagemagick.org/download/ImageMagick.tar.gz
        tar -xvf ImageMagick.tar.gz
        cd ImageMagick-7.*
        ./configure
        make
        sudo make install
        sudo ldconfig /usr/local/lib
      fi

  - |
      if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
        choco install imagemagick
        choco install pkgconfiglite
      fi

script:
  - export VERSION=$(date +'%Y-%m-%d-%H')
  - GO111MODULE=on go build -o versions-$VERSION-$NAME .

deploy:
  provider: releases
  api_key:
    secure: HFtfyd1IaaOsIgZKgghmfPMCbmJLUL3t2AwIzLUZ7stsDqJYk1m08pQrwbIStrrMHsnTi/R+fku9pJ87IEKMpG3DJsgRRzD+I9/lWMyxyI5OR/am4vmMUslmvs6TRcV0z9zKvmzDfUsF2cYn1pBL6G3XUGSVQXaQnt+hvuFB3WYtfwZ898hKVvHa7W32dQuxF/dN/HcvIBz+XzBt8Be3zTYrc8AZjITDoTgE4FPuwak+AdImwD32iOS9EWr8/iP/ELEXoWAxnjBIAQ8KZ9WPwGW7sprbQHWg1SL/byV3+xTftfX+MJ4PLJhEQJcUc2dwVJv4zQYZ85XAiOCMSSl/oNvXWiQBgizD2hrx9PjAoVsdXfEiE3bbyALywm119tltQsXo75XurDuiYBeJ3hb/awg1rpnyRgMkInEMEme/dVTvDVnYPfDdsHdflR8uU2Np45tHEieXZR4ydtFnVkcNISUveXhjIF0BKxPfIL4qeneSl0HAIvGhCipoNNw61NCcGSpZEG9GvqU+qpx3HAVGNfSv7c+gXdSqT0XmPzxfuEvxsqQo11IEIbZn9mDoc2EaY1BqPmDjPJ29NcYPTfO/eRYVauiXC/NxVqTWRkO2DNU1bMzVmBjTyMd6gxA1ZvOar1BmVbMATz0d4PcqPt5PyJPJa/nUfFNGafsMI1lPBG0=
  file: versions-$VERISON-$NAME
  on:
    repo: Mobilpadde/versions
